<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="height: 100vh">

    <div class="imagen_visor">
        <img [src]="image" width="200px" height="200px" class="rounded-circle" alt="Cinque Terre"
             (click)="selectImage()">
        <!--        <i class="fa fa-camera" aria-hidden="true"></i>-->
    </div>


    <form (ngSubmit)="submitPerfil()" #perfilForm="ngForm" id="formPerfil">
        <!--        <input type="file" style="" accept="image/*" (change)="changeListener($event)">-->
        <h1>Datos personales</h1>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Cedula</ion-label>
            <ion-input type="text" readonly="readonly" value="1095368995" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Cumpleaños</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Direccion</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" style="margin: 20px 0;">
            <button type="button" class="btn btn-block btn-danger" (click)="modalCambioPass(template_cambioPassword)">
                Cambiar Password
            </button>
        </ion-item>

    </form>


    <ng-template #template_cambioPassword>
        <div class="modal-header modal-dialog-centered">
            <h4 class="modal-title pull-left">Cambiar contraseña</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="paswordChangue()">
                <div class="row  form-group">
                    <div class="col-md-12 form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" name="password"
                               value="" id="password" >
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="repassword">Repetir Contraseña:</label>
                        <input type="password" class="form-control" name="repassword"
                               value="" id="repassword" >
                    </div>

                    <div class="col-md-12 alert_validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-primary btn btn-block">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

</ion-content>
