<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-content>
                <ion-list>
                    <ion-card style="background: linear-gradient(#009ee0, #102a83)">
                        <ion-card-content>

                            <ion-avatar slot="start">
                                <img [src]="image"  >
                            </ion-avatar>

                            <p class="tittle_menu">{{nameLastname | titlecase }}</p>
                            <p class="tittle_menu">{{email}}</p>
                        </ion-card-content>
                    </ion-card>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="'/perfil'">
                            <ion-icon slot="start" name="contact"></ion-icon>
                            <ion-label>
                                Perfil
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>

            <ion-footer align="center" no-border>

                <ion-item (click)="cerrarSesion()" lines="none">
                    <ion-icon slot="start" name="power"></ion-icon>
                    <ion-label>
                        Cerrar sesion
                    </ion-label>
                </ion-item>
                <ion-toolbar style="border-top: 1px solid rgba(0,0,0,0.1)">
                    <ion-title style="font-size: 10px">
                        version 1.0
                    </ion-title>
                </ion-toolbar>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>

<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="line-scale-party">
    <p style="font-size: 20px; color: white">Cerrando...</p>
</ngx-spinner>
